/* Add your custom CSS here */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling on the whole container */
}

.sidebar {
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allow scrolling within the sidebar if content overflows */
    flex-shrink: 0;
}

.notebooks {
    width: 205px;
    background-color: #2d2d2d;
    color: white;
}
.notes-list {
    color: #fff; /* Farbe des Links vererben */
    cursor: default; /* Standard-Cursor verwenden */
    text-decoration: none; /* Keine Unterstreichung */
}

.pages {
    width: 200px;
    background-color: #3d3d3d;
    color: white;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar ul li:hover {
    background-color: #505050;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.pages ul li:hover {
    background-color: #606060;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; /* Allow scrolling within the main content */
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

main {
    flex-grow: 1;
    overflow-y: auto; /* Allow scrolling within the main content area */
}

.notes {
    flex: 1;
    overflow-y: auto;
    padding: 20px 0;
}

.note-card {
    background: #2d2d2d;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
}

.note-card a {
    color: white;
    text-decoration: none;
}

.note-card a:hover {
    text-decoration: underline;
}

.note-title {
    margin: 0;
    font-size: 1.5em;
}

.note-date {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 15px;
}

.note-content {
    font-size: 1em;
    line-height: 1.5;
    color: white;
}

/* Styles for notebook-add and page-add */
.notebook-add, .page-add {
    width: calc(100% - 40px);  /* Full width minus padding */
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.notebook-add:focus, .page-add:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 150, 250, 0.5);
}

/* Style the add buttons */
.sidebar .add-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #505050;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar .add-button:hover {
    background-color: #fff;
}
