{% load static %}
{% load extras %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/notiz.css' %}">
</head>
<body>
<div class="page-content container note-has-grid">

    <div class="tab-content bg-transparent">
        <div id="note-full-container" class="note-has-grid row">
            {% for page in pages %}
                <div class="col-md-4 single-note-item all-category" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Book a Ticket for Movie">{{ page.title }}<i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">{{ page.updated_at }}</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted"
                           data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">{{ page.content|truncate_words:20|safe }}</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="mr-1"><i class="fa fa-star favourite-note"></i></span>
                        <span class="mr-1"><i class="fa fa-trash remove-note"></i></span>
                        <div class="btn-group">
                            <button>bearbeiten</button>
                            <button>löschen</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'home/js/notiz.js' %}" ></script>
</body>
</html>